body {
    width: 350px;
    margin: auto;
    background-color: #D8DCDF;
}

h1 {
    border-bottom: 1px solid black;
    font-family: 'Nunito', sans-serif;
}

div, button {
    font-family: 'Nunito', sans-serif;
    font-size: 15pt;
}

.square {
    height: 100px;
    width: 100px;
    font-size: 40pt;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}